@import '../abstracts/variables';

.link-simple {
  font-size: 1rem;
  font-weight: $font-weight-medium;
  color: $color-text-muted;
  text-decoration: none;
  position: relative;
  transition: all $transition-base;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color-primary;
    transition: all $transition-smooth;
  }

  &:hover {
    color: $color-primary;

    &::after {
      width: 100%;
    }
  }
}