@import '../abstracts/variables';

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1rem, 2vw, 1.5rem);
  padding-right: clamp(1rem, 2vw, 1.5rem);
  width: 100%;
  overflow-x: visible;
  box-sizing: border-box;
}